@font-face {
    font-family: 'lobsterregular';
    src: url('lobster-regular-webfont.woff2') format('woff2'),
         url('lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background: url("im4.jpg");
    background-size: cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
    font-family: 'lobsterregular', cursive;
}

.feed{
	position:absolute;
	top:40px;
	left:30%;
}

.post{
	position:relative;
	left:40%;
    margin: 0 auto;
}

.search{
	position:relative;
	left:35%;
	margin:0 auto;
}

.buttons{
    width: 100px;
    height: 30px;
    margin: 15px 0;
    border-radius: 5px;
    font-family: 'lobsterregular', cursive;
}

.buttons:hover{
	background: gray;
}