@font-face {
    font-family: 'lobsterregular';
    src: url('lobster-regular-webfont.woff2') format('woff2'),
         url('lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    background: url("im4.jpg");
    background-size: cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
    font-family: 'lobsterregular', cursive;
}

.feed{
	position:absolute;
	top:40px;
	left:30%;
}

.post{
	position:relative;
	left:40%;
    margin: 0 auto;
}

.search{
	position:relative;
	left:20%;
	margin:0 auto;
}

input{
    width: 200px;
    height: 25px;
    margin: 8px 25px;
    border-radius: 7px;
}

.buttons{
    width: 100px;
    height: 30px;
    margin: 15px 0;
    border-radius: 5px;
    font-family: 'lobsterregular', cursive;
}

.buttons:hover{
	background: gray;
}

a:hover{
	font-family:monospace;
	font-size: 25px;
	background:gold;
}

.comment_area{
	background:lightblue;
	position:relative;
	border-radius:10px;
	margin:5px 5px 5px 5px;
}

.full{
	background:gray;
	margin:10px;
	width:580px;
	border-radius:20px;
}


.comment{
	position:relative;
	left:-15px;
}