@font-face {
    font-family: 'lobsterregular';
    src: url('lobster-regular-webfont.woff2') format('woff2'),
         url('lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.intro{
    font-size: 40px;
    margin-left: 50px;
    color: bisque;
}

.log{
    height: 90px;
    width: 380px;
    border-radius: 10px;
    position: absolute;
    right: 40px;
    font-size: 25px;
    background: gray;
    text-align: center;
    margin-top: 280px;
    color: bisque;
    opacity: 0.7;
}

.sign_up{
    height: 400px;
    width: 400px;
    position: absolute;
    right: 25px;
    top: 100px;
    background: bisque;
    opacity: 0.6;
    border-radius: 5px;
    font-size: 20px;
}

.sign_up:hover {
	opacity: 1;
}

.form{
    position: absolute;
    margin-top: 0px;
}


input{
    width: 350px;
    height: 25px;
    margin: 8px 25px;
    border-radius: 7px;
}

.buttons{
    width: 100px;
    height: 30px;
    margin: 15px 150px;
    border-radius: 5px;
    font-family: 'lobsterregular', cursive;
}

.buttons:hover{
	background: gray;
}

body{
    background: url("im6.jpg");
    background-size: cover;
    font-family: 'lobsterregular', cursive;
}

h1{
    font-size: 65px;
    margin-left: 50px;
    color: bisque;
}

.login{
    height: 200px;
    width: 365px;
    top: 40px;
    margin: 0 auto;
}

a:hover{
	font-family:monospace;
	font-size: 25px;
	background:gold;
}