<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mycss2.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
	<h3><a href="/log_out" style="position:fixed;right:10px;font-size:30px;">Log Out</a></h3>
<div class="feed">
    <form method="post" action="/post/" class="post">
        {% csrf_token %}
        <input type="submit" class="buttons" value="Create Post">
    </form>
	<form method="GET" action="/search/" class="search">
		<input type="text" name="q" placeholder="Show Posts From">
		<input type="submit" value="search" class="buttons">
	</form>
    {% for post in posts reversed %}
	<div class="full">
        <h3 align="center"><pre>{{ post.user.username }}   on   [{{ post.created_on }}]</pre></h3>
        <img style="display:inline-block; width:550px; height:450px;border:3px solid black;border-radius:20px;position:relative;left:10px;"
             src="{{ post.image_url }}" /><br>
        <span  style="display:inline-block;color:gold;font-size:18px;white-space:pre;">								{{ post.caption }}</span><br/><br/>
        <div style="display:inline-block;position:relative;left:10px;">
            {{ post.like_count }} likes this
        </div>
        <div style="display:inline-block;position:relative;left:10px;">
            <form method="POST" action="/like/">
              {% csrf_token %}
              <input type="hidden" name="post" value="{{ post.id }}" />
                {% if post.has_liked %}
                <input type="submit" class="buttons" value="Unlike">
                {% else %}
                <input type="submit" class="buttons" value="Like">
                {% endif %}
            </form>
        </div>

        <div class="comment">
            <form method="POST" action="/comment/">
                {% csrf_token %}
            <input type="hidden" name="post" value="{{ post.id }}" />
            <input type="text" name="comment_text" id="comment_text" placeholder="Make a comment.." value="{{ comment_text }}">
            {{ comment_text }}
            <input type="submit" class="buttons" value="Comment">
            </form>
        </div>

        <div>
			
            {% for comment in post.comments %}
				<div class="comment_area">
                <p style="position:relative;left:5px;"><b>{{ comment.user.username }}</b> [{{ comment.created_on }}]: {{ comment.comment_text }}</p>
				<div style="display:inline-block;position:relative;left:10px;">
				{{ comment.comment_like_count }} upvotes 
				</div>
				<div style="display:inline-block;position:relative;">
				<form method="POST" action="/comment_like/">
				{% csrf_token %}
				<input type="hidden" name="comment" value="{{ comment.id }}" />
				{% if comment.c_like %}
				<input type="submit" value="UP / DOWN VOTE">
				{% else %}
				<input type="submit" value="UP / DOWN VOTE">
				{% endif %}
				</form>
				</div>
				</div>
			{% endfor %}
		</div>
		</div>
    {% endfor %}
</div>
</body>
</html>