<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mycss.css">
        <title>Let's Share</title></head>
    <body>
        <h1>Let's Share</h1>
        <div class="intro">
            <p>Let the world know who you are........</p>
        </div>
        <div class="log">
            <p>Already a member!!<a href="log">Log In</a></p>
        </div>
        <div class="sign_up">
        <p style="color: black;font-size: 35px;text-align:center;margin-top:5px">Sign-Up</p>
        <form action="" class="form">
            <input type="text" placeholder="First Name"><br>
            <input type="text" placeholder="Last Name"><br>
            <input type="text" placeholder="Choose a Username"><br>
            <input type="email" placeholder="Enter your Email"><br>
            <input type="password" placeholder="Enter a password"><br>
            <input type="submit" value="Sign Up" class="buttons">
        </form>
        </div>                         
    </body>
</html>