<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mycss.css">
        <title>Login</title>
    </head>
    <body>
        <p style="color:bisque;font-size:40px;text-align:center">Login</p>
        <form class="login" method="POST">
			{% csrf_token %}
            <input type="text" placeholder="Enter your Username" name="username" value={{username}}>
            <input type="password" placeholder="Enter your password" name="password" value={{password}}>
            <input type="submit" value="Log in" class="buttons">
        </form>
		{{message}}
    </body>
</html>